

// Variables
@import "modules/myvariables";

// Mixins
@import "modules/mymixins";

// Fonts
@import "modules/myfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import '~@fortawesome/fontawesome-free/css/all';
// C:\Users\keith\Desktop\test\foodback\node_modules\@fortawesome\fontawesome-free\css\all.css


/* ===========================================
 Generic
============================================= */

@import 'partials/generic';


/* ===========================================
 Header
============================================= */
  //@import 'partials/header';

/* ===========================================
 Messages & Modal
============================================= */

.bg-danger h2 ,
.bg-danger h4,
.bg-success h2
{
  font-family: Arvo;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .1em;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-danger h2,
.bg-danger h4
{
  /* text-shadow: -2px -2px 0 #a80000, 2px -2px 0 #a80000, -2px 2px 0 #a80000, 2px 2px 0 #a80000, 2px 3px 0 #ddd, 3px 4px 0 #ddd; */
  text-shadow: -2px -2px 0 #C20000, 2px -2px 0 #c20000, -2px 2px 0 #c20000, 2px 2px 0 #c20000, 2px 3px 0 #ddd, 3px 4px 0 #ddd;
}

.bg-success h2
{
  /* text-shadow: -2px -2px 0 #317231, 2px -2px 0 #317231, -2px 2px 0 #317231, 2px 2px 0 #317231, 2px 3px 0 #ddd, 3px 4px 0 #ddd; */
  text-shadow: -2px -2px 0 #255725, 2px -2px 0 #255725, -2px 2px 0 #255725, 2px 2px 0 #255725, 2px 3px 0 #ddd, 3px 4px 0 #ddd;
  /* 2A612A */
}

.modal
{
	.modal-content
	{
        border:none;
	}
	
	.modal-header
	{
		.close
		{
			margin:0;
			background:lightgrey;
			opacity:1;
			padding:0.5rem;
		
			&:hover
			{
				margin:0;
				background:grey;
				color:$white;
			}
		
			.fa-times 
			{
				padding-left:0.25rem;
				padding-right:0.25rem;
			}
		}
	}

	.modal-footer
    {
        border-top:none;
    }
}

/* ===========================================
 Main
============================================= */

.result 
{
	margin-top:20px;
}

.restaurants 
{
	margin: auto;
	padding-left: 0;

	li {
			list-style: none;
	}
}

.restaurant 
{
	background: $white;
	margin-bottom: 10px;
	margin-top: 10px;
	// min-height: 270px;
	padding: 15px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
	0 3px 1px -2px rgba(0,0,0,.12),
	 0 1px 5px 0 rgba(0,0,0,.2);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
	0 3px 1px -2px rgba(0,0,0,.12),
	 0 1px 5px 0 rgba(0,0,0,.2);
}

// Hyperlink image overlay
 .overlay
{

	position: relative;
	display: block;
	-webkit-transition: all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	transition: all 0.25s ease-out 0s;
	margin-bottom : 10px;
	margin-left:-15px;
	margin-right:-15px;
	
	&:hover .more
	{
		-webkit-opacity: 0.5;
		-moz-opacity: 0.5;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	 .more
	 {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all 0.25s ease-out 0s;
		-moz-transition: all 0.25s ease-out 0s;
		-ms-transition: all 0.25s ease-out 0s;
		-o-transition: all 0.25s ease-out 0s;
		transition: all 0.25s ease-out 0s;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: $white url(/imgs/more-icon-min.png) no-repeat center center; 
	 }

	 img 
	 {
		display:block;
		width:100%;
	 }
 }
// 


.more-info 
{
	padding-left: 0;

	li 
	{
			border-bottom: 1px dashed #d9d9d9;
			padding:5px 0;
			list-style: none;
	}

	li:last-child 
	{
			border-bottom: 0;
	}

	.field-name 
	{
			font-weight: bold;
	}

}

.location
{
	margin-top:10px;
	letter-spacing:1px;
}

.desc-value 
{
	word-break: break-word;
}

.more-btn 
{
	margin-top: 5px;
	width: 100%;
}

#delete-restaurant,
#edit-restaurant 
{
	margin-top:10px;
	width:100%;
}



/* ==========================================================
! Card
========================================================== */
@import 'partials/card';

/* ==========================================================
! Form
========================================================== */
@import 'partials/form';

/* ==========================================================
! Scroll to top link
========================================================== */

#return-to-top 
{
	@include border-radius(50%);
	background: rgba(0, 0, 0, .5);
	bottom: 20px;
	display: none;
	height: 50px;
	position: fixed;
	right: 50%;
	text-decoration: none;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s linear;
	transition: all .3s ease;
	width: 50px;
	z-index: 5;

	img 
	{
		color: $white;
		font-size: 19px;
		left: 16px;
		margin: 0;
		position: relative;
		top: 10px;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		opacity: 0.7;
	}

	&:hover 
	{
		background: rgba(0, 0, 0, .9);

			img
			{
				opacity: 0.9;
			}
	}
}

/* ==========================================================
! Pagination
========================================================== */


.pagination 
{
	margin: 40px 0;
}

/* ===========================================
 Footer
============================================= */
// @import 'partials/footer';
