
// ===========================================
// Colours
//=============================================

$white: #fff;
$black: #000;

$blue:#004ECC;
// $blue: #006FF5;
$dark-blue:#286090;

$green: #317231;
$dark-green:#204b20;

$red: #a80000;
$dark-red: #800000;

$brown: #A4670F;
$dark-brown: #774B0D;

$body-bg: #ecf0f5;
// $body-color: #666;
$body-color: #333;
