/* Card Header */
    .card-header
    {
        padding: 0.5rem;

    }

    .card-header h2
    {
        font-family: Arvo;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    #registerCard .card-content .card-header,
    #loginCard .card-content .card-header,
    #resetPasswordCard .card-content .card-header
    {
        background: #25406F;
    }

    #registerCard .card-content .card-header h2,
    #loginCard .card-content .card-header h2,
    #resetPasswordCard .card-content .card-header h2

    {
        color: white;
        text-shadow: 
        -2px -2px 0 #2E6B8F,
         2px -2px 0 #2E6B8F,
        -2px 2px 0 #2E6B8F,
        2px 2px 0 #2E6B8F,
        2px 3px 0 #ddd,
        3px 4px 0 #ddd;
    }

    /* card-body */

    /* card footer */

    #registerCard .card-content .card-footer,
    #loginCard .card-content .card-footer,
    #resetPasswordCard .card-content .card-footer
    {
        background:#25406F;
        color:white;
    }

    #registerCard .card-content .card-footer a,
    #loginCard .card-content .card-footer a,
    #resetPasswordCard .card-content .card-footer a
    {
        color:#8ee3fB;
    }

    #registerCard .card-content .card-footer a:hover,
    #loginCard .card-content .card-footer a,
    #resetPasswordCard .card-content .card-footer a
    {
        color:#c5effb;
    }
