html{
	font-size:16px;
}

h1
{
	// font-size:2rem;
	font-size:2.125rem;
}

h2
{
	// font-size:1.75rem;
	font-size:1.875rem;
}

h3
{
	// font-size:1.5rem;
	font-size:1.625rem;
}

h4
{
	// font-size:1.25rem;
	font-size:1.375rem;
	
}

body 
{
    background: $body-bg;
    color: $body-color;
	font-size:16px;

	background: #EAC88F url('/imgs/background/purty_wood.png');
	// height:100vh;
}

.full-height
{
	height:100vh;
}


img
{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}

// Grid layout
.row 
{
	margin-right:0;
	margin-left:0;
}

@media (max-width: 767px) 
{
	.center-offset-xs-1
	{
		margin-left: 4.165%;
		margin-right: 4.165%;
	}
}

@media (min-width: 576px) 
{
	.center-offset-sm-1
	{
      margin-left: 4.165%;
      margin-right: 4.165%;
    }
}

@media (min-width: 768px) 
{
	.center-offset-md-1
	{
      margin-left: 4.165%;
      margin-right: 4.165%;
    }
}

/* Card */
.my-card { 
	background:#f3f2f2; 
}

.my-card header{
	margin-left: -15px;
	margin-right: -15px;
	// background: rgb(37,64,111);
	padding: 0.5rem;
	color: white;
}

.remove-bs-padding
{
	margin-left: -15px;
	margin-right: -15px;
}

.card-header
{
	padding: 0.5rem;

	h2,
	h3{
		font-family: Arvo;
		font-weight: bold;
		letter-spacing: 0.2em;
	}
}

//Header
.bg-blue-header
    {
        background: #25406F;

        h2,
        h3,
        h4
        {
            color: white;
            text-shadow: 
            -2px -2px 0 #2E6B8F,
            2px -2px 0 #2E6B8F,
            -2px 2px 0 #2E6B8F,
            2px 2px 0 #2E6B8F,
            2px 3px 0 #ddd,
            3px 4px 0 #ddd;
        }
    }

    .bg-blue-footer
    {
        background: #25406F;
        color:white;

        a{
            color:#8ee3fB;

            &:hover
            {
                color:#c5effb;
            }
        }
    }

// Buttons
.btn, 
input[type=submit],
button
{
	// box-shadow: 0 2px 4px grey;
	box-shadow: 0 6px 4px grey;
	position: relative;
}

.btn:hover, 
input[type=submit]:hover,
button:hover
{
	// box-shadow: 0 2px 4px grey;
	box-shadow: 0 2px 4px grey;
	top:4px;
}

.btn:active, 
input[type=submit]:active,
button:active
{
	box-shadow: inset 2px 2px 5px #333;
}

// Social buttons
.social-auth-links
{
	.btn-facebook,
	.btn-google,
	.btn-twitter
	{
		border-width: 2px;
		border-style: solid;
	}

	.btn-facebook
	{
		background:#38538F;
		color:white;
		border-color:#26375F;
	}

	.btn-facebook:hover{
		background:#26375F;
		color:white;
		border-color:#26375F;
	}

	.btn-google
	{
		background:#FF826B;
		color:black;
		border-color:#FF6447;
	}

	.btn-google:hover
	{
		background:#FF6447;
		color:black;
		border-color:#FF6447;
	}

	.btn-twitter
	{
		background:#2998FF;
		color: black;
		border-color: #5cB0FF;
	}

	.btn-twitter:hover
	{
		background: #5cB0FF;
		color: black;
		border-color: #5cB0FF;
	}
}

// Bootstrap Buttons
.btn 
{
	padding:5px;
	letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
	.btn 
	{
		padding:10px;
	}
}

.btn-primary 
{
	background: $blue;
	border-color: $dark-blue;

	&:hover 
	{
		background: $dark-blue;
		border-color: $dark-blue;
	}
}

.btn-success 
{
	background: $green;
	border-color: $dark-green;

	&:hover 
	{
		background: $dark-green;
		border-color: $dark-green;
	}
}

.btn-danger 
{
	background: $red;
	border-color: $dark-red;

	&:hover 
	{
		background: $dark-red;
		border-color: $dark-red;
	}
}

.btn-warning
{
	border-color: $dark-brown;

	&:hover
	{
		border-color: $dark-brown;
	}
}

// Hyperlink
.url 
{
	letter-spacing: 1px;
}

body a
{
	letter-spacing: 1px
}


//
/* hr-line -generic style */

.hr-line::before {
	margin: 0 0.5em 0 -55%;
}

.hr-line:after {
	margin: 0 -55% 0 0.5em;
}

.hr-line {
	width:95%;
	margin:.7em auto;
	overflow:hidden;
	font-weight:300;
}

.hr-line:before,
.hr-line:after {
	content: "";
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	border-bottom: 1px solid;
}
